:root {
    --rows: 8; /* Default number of rows */
    --columns: 8; /* Default number of columns */
}

body {
    margin: 0;
    padding: 0;
    background-image: url('Mine_Sweeper_(8717665855).jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Black Ops One', system-ui;
    text-align: center;
    height: 100vh;
}

h1 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    padding: 0 10px;
    margin-bottom: 10px;
}

#board {
    background-color: lightgrey;
    width: 400px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    border: 10px solid lightslategray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: calc((100%) / var(--columns));
    height: calc((100%) / var(--rows)); 
    border: 1px solid whitesmoke;
    font-size: calc(200px / var(--rows));
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box; 
}

.square_clicked {
    background-color: lightslategray;
    cursor: default !important;
    box-shadow: inset 3px 3px 3px 0px #5d5d5d;
}

.x1 { color: blue; }
.x2 { color: green; }
.x3 { color: red; }
.x4 { color: yellow; }
.x5 { color: indigo; }

button {
    font-family: 'Black Ops One', system-ui;
    display: flex;
    min-width: 150px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    background-color: lightgray;
    border: 5px solid lightslategray;
}

/* Bomb: 💣 Flag: 🚩 */

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#existingVideo {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#explosionGif {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.level-1 {
    background-image: url('Mine_Sweeper_(8717665855).jpg');
}

body.level-2 {
    background-image: url('background1.jpg');
}

body.level-3 {
    background-image: url('background2.jpg');
}