body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

hr {
    border: 0;
    height: 10px;
    background: linear-gradient(to right, #0074cc, transparent, #ff8c00);
    margin: 20px 0;
}

#board {
    background-color: lightgrey;
    width: 400px;
    height: 400px;
    border: 10px solid lightslategray;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

#board div {
    width: 48px;
    height: 48px;
    border: 1px solid whitesmoke;

    /* text */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.square_clicked {
    background-color: lightslategray;
}

/* kolory numerów oznaczających ilość bomb sąsiadujących z polem */
.x1 {
    color: blue;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: yellow;
}

.x5 {
    color: indigo;
}

button {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    display: flex;
    min-width: 150px;
    min-height: 50px;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    display: block;

    font-size: 25px;
    background-color: lightgray;
    border: 5px solid lightslategray;
}


/*
Bomb: 💣
Flag: 🚩
*/